.images {
    width: 50px;
    right: 80px;
}
.container2 {
    width: 60%;
    margin: 0px 160px;
    box-sizing: border-box;
    border: 1px solid red;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}
.imagesauto {
    width: 100%;
    height: auto;
}